<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,52}</string>
                <key>spriteSourceSize</key>
                <string>{43,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{43,0},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{0,67},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{46,67},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plan.png</string>
            <key>size</key>
            <string>{105,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0281343e97761582aa2d4d4c5faec453:9d4eb4475086cc9ff64b6ce7856d4233:7021556530a86297b95f03277f34ff84$</string>
            <key>textureFileName</key>
            <string>plan.png</string>
        </dict>
    </dict>
</plist>
