<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{0,0},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{415,0},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{830,0},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{1245,0},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{0,553},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{415,553},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{830,553},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{1245,553},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{0,1106},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,553}</string>
                <key>spriteSourceSize</key>
                <string>{415,553}</string>
                <key>textureRect</key>
                <string>{{415,1106},{415,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{1660,1659}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32f549c8aba43e5d1416f24ab20141e6:f943a94d1d7ff21cf3cd11b221937231:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
